{% extends "layout.html" %}

{% block content %}
  {% for station in station_info %}
    <div class="large-4 columns end">
      <div class="info">
        <b><a href="https://microcats.uqcloud.net/sensor/{{ station.name }}">
        <i class="fi-info"></i> STATION INFORMATION</a></b><br>
        ID: <span class="id">{{ station.sid }}</span><br>
        Name:	      <div id="{{ station.sid }}-name"  class="variable {% if isadmin %}edit{% endif %}"> {{ station.name }}</div><br>
        Description:  <div id="{{ station.sid }}-desc"  class="variable {% if isadmin %}edit{% endif %}"> {{ station.desc }}</div><br>
        Location:     <div id="{{ station.sid }}-coord" class="variable {% if isadmin %}edit{% endif %}"> {{ station.location }}</div><br>
        Deployed: {{ station.birthday }}<br>
        Last contact: {{ station.last }}<br>
        Status: {{ station.status }}<br>
        <hr>
        <b><i class="fi-results"></i> STATISTICS</b><br>
  	<div class="row">
  	  <div class="large-3 columns">Sensor</div>
  	  <div class="large-3 columns">High</div>
  	  <div class="large-3 columns">Low</div>
  	  <div class="large-3 columns">Avg</div>
  	</div>
        {% for sensor in station["values"] %}
  	<div class="row">
  	  <div class="large-3 columns">{{ sensor }}:</div>
  	  <div class="large-3 columns">{{ station["values"][sensor][0] }}</div>
  	  <div class="large-3 columns">{{ station["values"][sensor][1] }}</div>
  	  <div class="large-3 columns">{{ station["values"][sensor][2] }}</div>
  	</div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block javascript %}
  <script src="../static/js/sensors.js"></script>
{% endblock %}
