{% extends "layout.html" %}

{% block content %}
  <div id="container" class="row text-center">
    <h1> CATS CATS CATS </h1>
    <div class="row">
      <div class="large-6 columns text-right">
	<img src="https://microcats.uqcloud.net/img/pretz.jpg">
      </div>
      <div class="large-6 columns text-left">
	<img src="https://microcats.uqcloud.net/img/pretznova.jpg">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="large-6 columns text-right">
	<img src="https://microcats.uqcloud.net/img/novapretz.jpg">
      </div>
      <div class="large-6 columns text-left">
	<img src="https://microcats.uqcloud.net/img/nova.jpg">
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{% endblock %}
