{% extends "layout.html" %}

{% block content %}
  <div id="error" class="reveal text-center small" data-reveal>Could not find any data. Please try again!</div>
  <div class="large-12 columns">
    <div id="controls">

      <form id="viz-type">
	<div class="large-3 columns">
	  <label>Select Visualisation Type
	    <br>
	    <select>
  	      <option value="dh-chart">Day-Hour Chart</option>
  	      <option value="line-graph">Line Graph</option>
  	      <option value="something">???</option>
  	      <option value="something">???</option>
  	    </select>
	  </label>
	</div>

	<div class="large-3 columns">
	  <label>Select Date and Time</label>
	  <div class="input-group">
	    <input class="input-group-field" type="date">
	    <div class="input-group-button">
	      <input type="submit" class="small button" value="Update">
	    </div>
	  </div>
	  <input type="button" class="small button timeframe" value="Week" disabled>
	  <input type="button" class="small button timeframe" value="Month">
	  <input type="button" class="small button timeframe" value="Year">
	</div>
      </form>

      <div class="large-6 columns">
      <form id="chart-opts">
      </form>
      </div>

    </div>
  </div>
  <div class="large-12 columns container-mini">
    <div class="chart">
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="../static/js/set_default_time.js"></script>
  <script type="text/javascript" src="../static/js/dh_chart.js"></script>
  <script type="text/javascript" src="../static/js/line_graph.js"></script>
  <script type="text/javascript" src="../static/js/draw_charts.js"></script>
{% endblock %}
