{% extends "layout.html" %}

{% block content %}
    <div class="large-12 columns">
      <div id="controls">

	<div class="large-3 columns"><form id="map-viz">
          <label>Select Visualisation Type
	    <br>
	    <select>
    	      <option value="circles">Circles</option>
    	      <option value="contour">Contour Map</option>
    	    </select>
          </label>
        </form></div>

	<div class="large-3 columns"><form id="map-time">
          <label>Select Visualisation Type
	    <br>
	    <select>
    	      <option value="circles">Circles</option>
    	      <option value="contour">Contour Map</option>
    	    </select>
          </label>
        </form></div>

	<div class="large-6 columns"><form id="viz-opts">
          <legend>Select a Sensor</legend>
          <fieldset>
	    {% for i, sensor in sensors %}
	      <input type="radio" name="sensor" value="{{ sensor }}"
    	      {% if i == 0 %}checked{% endif %}
    	      ></input>
    	      <label for="{{ sensor }}">{{ sensor }}</label>
            {% endfor %}
          </fieldset>
        </form></div>

      </div>
    </div>
    <div class="large-12 columns container-mini">
      <div id="map">
      </div>
    </div>
{% endblock %}

{% block javascript %}
  <script src="../static/js/map.js"></script>
{% endblock %}
