{% extends "layout.html" %}

{% block content %}
  <div class="large-3 columns">
    <div class="info">
      <b><i class="fi-info"></i> STATION INFORMATION</b><br>
      Name: {{ station.name }}<br>
      ID: <span class="id">{{ station.sid }}</span><br>
      Description: {{ station.desc }}<br>
      Location: {{ station.location }}<br>
      Deployed: {{ station.birthday }}<br>
      Last contact: {{ station.last }}<br>
      Status: {{ station.status }}<br>
      <hr>
      <b><i class="fi-results"></i> STATISTICS</b><br>
        <div class="row">
  	  <div class="large-3 columns">Sensor</div>
  	  <div class="large-3 columns">High</div>
  	  <div class="large-3 columns">Low</div>
  	  <div class="large-3 columns">Avg</div>
        </div>
      {% for sensor in vals %}
        <div class="row">
  	  <div class="large-3 columns">{{ sensor }}:</div>
  	  <div class="large-3 columns">{{ vals[sensor][0] }}</div>
  	  <div class="large-3 columns">{{ vals[sensor][1] }}</div>
  	  <div class="large-3 columns">{{ vals[sensor][2] }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
<div class="large-9 columns">
<ul class="accordion" data-multi-expand="true" data-accordion role="tablist">
  <li class="accordion-item is-active">
    <a href="#uptime" role="tab" class="accordion-title" id="sensor-stats" aria-controls="uptime"><b>Sensor Uptime</b></a>
    <div id="uptime" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="uptime-heading">
      <div class="chart small uptime">
      </div>
    </div>
  </li>
  {% for sensor in vals %}
  	<li class="accordion-item is-active">
  	  <a href="#{{ sensor }}" role="tab" class="accordion-title" id="sensor-stats" aria-controls="{{ sensor }}"><b>Graph of {{ translations[sensor] }} Readings</b></a>
  	  <div id="{{ sensor }}" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="{{ sensor }}-heading">
	    <div class="chart small {{ sensor }}">
	    </div>
  	  </div>
  	</li>
  {% endfor %}
</ul>
</div>
{% endblock %}

{% block javascript %}
  <script src="../static/modules/d3-tip/index.js"></script>
  <script src="../static/js/line_graph.js"></script>
  <script src="../static/js/uptime.js"></script>
  <script src="../static/js/station_charts.js"></script>
  <script>
    var elem = new Foundation.Accordion($("ul.accordion"), "");
  </script>
{% endblock %}
